body {
    background: repeating-linear-gradient(90deg, transparent 0vw, transparent 2vw, #FFE5E2 2vw, #FFE5E2 8.4vw)
}

h1 {
    font-size: 36px;
    line-height: 50px;
    color: black;
    text-align: center;
}

#firstP {
    font-size: 17px;
    line-height: 24px;
    padding: 0 30%;
    text-align: center;
    color: rgba(50,50,50,0.9);
}

section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1;
    margin: 50px 0;
}

#imageDiv {
    position: relative;  
    width: 22vw;
    height: 22vw;  
    padding: 0;
}

div.imageDiv:hover img {
    display: none;
}

div.imageDiv div {
    text-align: center;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #00ACC6;
    display: grid;
    justify-content: center;
}

div.imageDiv div p {
    margin: auto; 
    background-color: #00ACC6;
    display: none;
}

div.imageDiv:hover div p {
    display: block;
}

i {
    background-color: white;
    color: #00C1CF;
    font-size: 30px;
}

img {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 333;
}

div.quarter > p:nth-child(2) {
    font-size: 20px;
    font-weight: 700;
}

div.quarter > p:last-child {
    font-size: 16px;
    line-height: 10px;
}
